.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

// * {
//   outline: 1px solid red;
// }

.radius25 {
  border-radius: 25px;
}

.radius10 {
  border-radius: 10px;
}

.radius5 {
  border-radius: 5px;
}

// .buttonDisabling{
//   display: none;
// }