$body-bg: #f2f2f2;
$primary: #3BA5DC;
$secondary: #FF3697;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #562C3D;

#EBEBEB - off-white
#F6B849 - yellow
#459C3B - green
#D2273F - red
#28545D - blue
#562C3D - purple